<div ng-controller="TableCtrl">

	<div class="col-md-8 column soccer-table">
		<img src="img/table.jpg" />
		
		<div player-selector="table.whiteDefender" players="players" position="DEFENDER" 
			style="left:90px; min-width:130px;" class="player-selector white"></div>

		<div player-selector="table.whiteAttacker" players="players" position="ATTACKER" 
			style="left:340px; min-width:180px" class="player-selector white"></div>

		<div player-selector="table.blueAttacker" players="players" position="ATTACKER" 
			style="left:270px; min-width:170px" class="player-selector blue"></div>

		<div player-selector="table.blueDefender" players="players" position="DEFENDER" 
			style="left:500px; min-width:140px" class="player-selector blue"></div>
		
	</div>

	<div class="col-md-4 column">
		<div class="scores">
			
			<h1>Score</h1>
			
			<input type="text" class="form-control pull-left score-input white" ng-model="score.white" />
			<input type="text" class="form-control pull-right score-input blue" ng-model="score.blue" />
			
			<button class="btn btn-warning btn-lg score-save" ng-disabled="isSaveDisabled()" ng-click="save()">Save match</button>
		</div>
		
	</div>

</div>