<div ng-controller="RatingsCtrl">
	
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th rowspan="2">Name</th>
				<th colspan="2">
					<ul bts-combo ng-model="selectedPeriod">
						<li ng-repeat="period in model.periods" bts-combo-item="period" bts-combo-label="period.title">
							<a tabindex="-1" href="#">{{period.title}}</a>
						</li>
					</ul>
				</th>
				<th colspan="2">RATING</th>
				<th colspan="2">DEFENDER</th>
				<th colspan="2">ATTACKER</th>
    			<th colspan="2" class="white">WHITE</th>
				<th colspan="2" class="blue">BLUE</th>
				<th>BADGES</th>
			</tr>
			<tr>

				<th sortable="playerSort" column="games">Games</th>
				<th sortable="playerSort" column="winPerc" style="width:120px">% of wins</th>
				<th sortable="playerSort" column="mean">Rating</th>
				<th sortable="playerSort" column="change" style="width:120px">Change</th>
				<th sortable="playerSort" column="winD">Win</th>
				<th sortable="playerSort" column="lossD">Loss</th>
				<th sortable="playerSort" column="winA">Win</th>
				<th sortable="playerSort" column="lossA" style="width:100px">Loss</th>
				<th sortable="playerSort" column="winW">Win</th>
				<th sortable="playerSort" column="lossW">Loss</th>
				<th sortable="playerSort" column="winB">Win</th>
				<th sortable="playerSort" column="lossB">Loss</th>
				<th sortable="playerSort" column="greenBadges"><span class="label label-success">10 : 0</span></th>
			</tr>
		</thead>
		<tr ng-repeat="tableRow in tableRows | orderBy:playerSort.column:playerSort.descending">
			<td>{{tableRow.name}}</td>
			<td>{{tableRow.games}}</td>
			<td>{{tableRow.winPerc.toFixed(0)}}%</td>
			<td class="rating">{{tableRow.mean.toFixed(2)}} <span class="sd">± {{tableRow.sd.toFixed(2)}}</span></td>
			<td class="rating-change" ng-class="{decrease: !tableRow.meanUp, increase: tableRow.meanUp}">
				<span class="glyphicon" ng-class="{'glyphicon-chevron-down': !tableRow.meanUp, 'glyphicon-chevron-up': tableRow.meanUp}"></span>
				<span class="value">{{tableRow.change.toFixed(2)}}</span>
			</td>
			<td>{{tableRow.winD}}</td>
			<td>{{tableRow.lossD}}</td>
			<td>{{tableRow.winA}}</td>
			<td>{{tableRow.lossA}}</td>
			<td class="white">{{tableRow.winW}}</td>
			<td class="white">{{tableRow.lossW}}</td>
			<td class="blue">{{tableRow.winB}}</td>
			<td class="blue">{{tableRow.lossB}}</td>
			<td>{{tableRow.greenBadges}}</td>
		</tr>
	</table>

</div>