<div ng-controller="PlayersCtrl">

	<form class="form-inline" role="form">
		<div class="form-group">
			<label class="sr-only" for="playerName">Player name</label>
			<input type="text" ng-model="playerName" class="form-control" id="playerName" placeholder="Enter player name">
		</div>
		<button type="submit" class="btn btn-primary" ng-click="addPlayer()">Add player</button>
	</form>

	<hr/>

	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Games</th>
				<th>Win</th>
				<th>Loss</th>
				<th>A (win/loss)</th>
				<th>B (win/loss)</th>
				<th>C (win/loss)</th>
				<th>D (win/loss)</th>
			</tr>
		</thead>
		<tr ng-repeat="player in model.players">
			<td>{{player.name}}</td>
			<td>{{model.stats[player._id].games}}</td>
			<td>{{model.stats[player._id].win}}</td>
			<td>{{model.stats[player._id].loss}}</td>
			<td>{{model.stats[player._id].winA}} / {{model.stats[player._id].lossA}}</td>
			<td>{{model.stats[player._id].winB}} / {{model.stats[player._id].lossB}}</td>
			<td>{{model.stats[player._id].winC}} / {{model.stats[player._id].lossC}}</td>
			<td>{{model.stats[player._id].winD}} / {{model.stats[player._id].lossD}}</td>
		</tr>
	</table>

</div>