<div ng-controller="PlayersCtrl" ng-init="reloadTable()">

	<form class="form-inline" role="form">
		<div class="form-group">
			<label class="sr-only" for="playerName">Player name</label>
			<input type="text" ng-model="playerName" class="form-control" id="playerName" placeholder="Enter player name">
		</div>
		<button type="submit" class="btn btn-primary" ng-click="addPlayer()">Add player</button>
	</form>

	<hr/>

	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th rowspan="2">Name</th>
				<th colspan="5">OVERALL</th>
				<th colspan="2">DEFENDER</th>
				<th colspan="2">ATTACKER</th>
    			<th colspan="2" class="white">WHITE</th>
				<th colspan="2" class="blue">BLUE</th>
			</tr>
			<tr>
				<th ng-click="changeSorting('name')">Name</th>
				<th ng-click="changeSorting('games')">Games</th>
				<th ng-click="changeSorting('win')">Win</th>
				<th ng-click="changeSorting('loss')">Loss</th>
				<th ng-click="changeSorting('rating')">Rating</th>
				<th ng-click="changeSorting('winPerc')"style="width:140px">% of wins</th>
				<th ng-click="changeSorting('winD')">Win</th>
				<th ng-click="changeSorting('lossD')">Loss</th>
				<th ng-click="changeSorting('winA')">Win</th>
				<th ng-click="changeSorting('lossD')"style="width:140px">Loss</th>
				<th ng-click="changeSorting('winW')">Win</th>
				<th ng-click="changeSorting('lossW')">Loss</th>
				<th ng-click="changeSorting('winB')">Win</th>
				<th ng-click="changeSorting('lossB')">Loss</th>
			</tr>
		</thead>
		<tr ng-repeat="tableRow in tableRows | orderBy:sort.column:sort.descending">
			<td>{{tableRow.name}}</td>
			<td>{{tableRow.games}}</td>
			<td>{{tableRow.win}}</td>
			<td>{{tableRow.loss}}</td>
			<td>{{tableRow.rating}}</td>
			<td>{{tableRow.winPerc.toFixed(0)}}%</td>
			<td>{{tableRow.winD}}</td>
			<td>{{tableRow.lossD}}</td>
			<td>{{tableRow.winA}}</td>
			<td>{{tableRow.lossA}}</td>
			<td class="white">{{tableRow.winW}}</td>
			<td class="white">{{tableRow.lossW}}</td>
			<td class="blue">{{tableRow.winB}}</td>
			<td class="blue">{{tableRow.lossB}}</td>
		</tr>
	</table>

</div>