html {
	overflow-y: scroll; 
}


.players tr.disabled {
	background: #f8f8f8;
	color: #dedede;
}


.player-selector {
	position: absolute;
	font-size:30px;
	border: 1px solid: black;
	top: 220px;
}

.player-selector:hover {
	cursor:pointer;
}


.player-selector.blue {
	top: -12px; 
}

.player-selector .position-badge {
	font-size:16px; 
	background-color: black; 
	color: white;
	font-weight: bold;
}

.player-selector.blue .position-badge {
	background-color: white; 
	color: black;
}

.player-selector .dropdown-label {
	padding-left: 10px;
	padding-right: 10px;
}

.soccer-table {
	padding-left: 40px;
	margin-top: 10px;
}

.scores {
	text-align: center; 
	width: 260px; 
	margin: auto;
}

.score-input {
	height: 120px;
	width: 120px; 
	font-size: 56px; 
	text-align: center; 
	display: inline-block;
}

.score-save {
	margin-top: 14px;
}

.game-date .date {
	font-weight: bold;
}

.game-date .time {
	margin-left: 5px;
	font-size: 9px;
}


.rating {
	font-weight: bold;
}

.rating .sd {
	font-weight: normal;
	font-size: 11px; 
	color: #999
}

.rating-change {
	position: relative;
}

.rating-change .glyphicon {
	position: absolute;
	font-size: 10px;
}

.rating-change .glyphicon.glyphicon-chevron-down,
.rating-change .glyphicon.glyphicon-chevron-up  {
	top: 13px;
}

.rating-change .value {
	margin-left: 10px;
}

.rating-change.increase {
	color: green;
}

.rating-change.decrease {
	color: red;
}

.view-animate {
}
 
.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition:opacity ease-in-out 0.15s;
  transition:opacity ease-in-out 0.15s;
  opacity: 1;
}
 
.view-animate.ng-enter {
  opacity: 0;
}
.view-animate.ng-enter.ng-enter-active {
  opacity: 1;
}
 
.view-animate.ng-leave {
  opacity: 0;
}
.view-animate.ng-leave.ng-leave-active {
  opacity: 0;
}

.sortColumn  {
    cursor:pointer;
    float: left;
}

.sortColumn:hover {
    color: #696969;
}

.sortPadded {
    padding-right:14px;
}

.glyphicon:hover {
    cursor: pointer;
    color: #696969;
}

.glyphicon.glyphicon-chevron-down {
	top: 2px;
	left: 3px;
}

.glyphicon.glyphicon-chevron-up {
	top: 2px;
	left: 4px;
}