html {
	overflow-y: scroll; 
}

.player-selector {
	position: absolute;
	font-size:30px;
	border: 1px solid: black;
	top: 220px;
}

.player-selector:hover {
	cursor:pointer;
}


.player-selector.blue {
	top: -12px; 
}

.player-selector .position-badge {
	font-size:16px; 
	background-color: black; 
	color: white;
	font-weight: bold;
}

.player-selector.blue .position-badge {
	background-color: white; 
	color: black;
}

.player-selector .dropdown-label {
	padding-left: 10px;
	padding-right: 10px;
}

.soccer-table {
	padding-left: 40px;
	margin-top: 10px;
}

.scores {
	text-align: center; 
	width: 260px; 
	margin: auto;
}

.score-input {
	height: 120px;
	width: 120px; 
	font-size: 56px; 
	text-align: center; 
	display: inline-block;
}

.score-save {
	margin-top: 14px;
}

.view-animate {
}
 
.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition:opacity ease-in-out 0.3s;
  transition:opacity ease-in-out 0.3s;
  opacity: 1;
}
 
.view-animate.ng-enter {
  opacity: 0;
}
.view-animate.ng-enter.ng-enter-active {
  opacity: 1;
}
 
.view-animate.ng-leave {
  opacity: 0;
}
.view-animate.ng-leave.ng-leave-active {
  opacity: 0;
}

.sortColumn  {
    cursor:pointer;
    float: left;
}

.sortColumn:hover {
    color: #696969;
}

.sortPadded {
    padding-right:14px;
}